<!-- main.hbs-->
<!-- 
    Citation for the following function:
    Date: 3/7/2024
    Based on code from the OSU CS340 nodejs-starter-app GitHub page, Step 4.
    Changed the title and body contents to meet the project requirements.
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beaver Sporting Goods</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src='main.js'></script>
</head>
<body>
    <nav>
        <a href="/index">Home</a>
        <a href="/customers">Customers</a>
        <a href="/employees">Employees</a>
        <a href="/products">Products</a>
        <a href="/suppliers">Suppliers</a>
        <a href="/customerorders">Customer Orders</a>
        <a href="/supplyorders">Supplier Orders</a>
    </nav>
    <header><h1>Beaver Sporting Goods</h1></header>
    <main>

        {{{body}}}
<footer><p>&copy; 2024 Eric Kwak and Andrew Adisoemarta</p></footer>
</body>
</html>
