<!-- index.hbs -->
<!DOCTYPE html>    
<html>
    </head>
    <body>
        <header>
        </header>
            
    <article>
        <h3>Frontend design from CS340 Group 142</h3>
        <p>
            This frontend describes the ordering system for a large sporting goods shop and handles the employees, customers,
            and keeps track of the order info, such as supplier, products, and processed orders.
        </p>
    </article>
    </main>
    <footer><p>&copy; 2024 Eric Kwak and Andrew Adisoemarta</p></footer>
    
    </body>
</html>
