<!DOCTYPE html>    
<html>
    </head>
    <body>
        <header>
        </header>
            
    <article>
        <h3>Unfinished :(</h3>
        <p>
            Ran out of time and couldn't finish second M:N table
        </p>
    </article>
    </main>
    <footer><p>&copy; 2024 Eric Kwak and Andrew Adisoemarta</p></footer>
    
    </body>
</html>